.lorem{
    color: brown;
    font-style: italic;
    font-size: 30px;
}
.delete {
    color: black;
    background-color: bisque;
    border-radius: 10px;
    border-color: brown;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: auto;
    align-items: center;
    height: 50px;
    width: 100px;
    justify-content: center;
}